dmenu.font: IBMPlexMono

!
! URXVT
!
! set the font
URxvt.font: xft:IBMPlexMono-Regular:pixelsize=16
! get rid of that Windows98 scroll bar
URxvt.scrollBar: false
! set transparent background
! "real" transparency using a composition manager
! works with pywal
URxvt.depth: 32
! set the terminal name
URxvt.termName: xterm-256color
! do not scroll with output
URxvt*scrollTtyOutput:  false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

!
! Suckless Terminal (st)
!
st.font: IBMPlexMono-Regular:pixelsize=16:antialias=true:autohint=true

! must remove all "nocpp" entries from /etc/gdm/Xsession
#include ".Xresources.d/grinnell_glacier"
