! set the font
URxvt.font: xft:IBMPlexMono-Regular:pixelsize=18
i3.font: IBMPlexMono 12

! get rid of that Windows98 scroll bar
URxvt.scrollBar: false
URxvt.scrollWithBuffer: true
! set transparent background
URxvt.depth: 32
! set the terminal name
URxvt.termName: xterm-256color
URxvt.intensityStyles: false

#include ".Xresources.d/solarized.dark"
!#include ".Xresources.d/winter.colors"
